body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
}

#nav {
  padding: 20px 50px;
  background-color: #000000;
}

.nav_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_box {
  background-color: #ccc;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.limit_offer {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  border-bottom: 2px solid green;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  color: #000000;
  font-size: 20px;
  position: absolute;
  right: 10px;
}

.nav_bottom {
  display: flex;
}

.option {
  margin: 0 auto;
}

.option_list {
  color: #ffffff;
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
}

.option_list-item {
  margin-right: 50px;
  cursor: pointer;
}
.option_list-item:hover {
  color: lightgrey;
}

.slider {
  background: url("https://images.unsplash.com/photo-1520758594221-872948699332?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 600vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.slider_title {
  position: absolute;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  top: 10%;
  right: 10%;
}

.slider_price {
  position: absolute;
  font-weight: 900;
  font-size: 60px;
  color: #ffffff;
  top: 10%;
  left: 10%;
  border: 5px solid white;
}

.sliderItem:nth-child(1) .slider_bg {
  background-color: green;
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}
.sliderItem:nth-child(2) .slider_bg {
  background-color: blueviolet;
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}
.sliderItem:nth-child(3) .slider_bg {
  background-color: burlywood;
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}
.sliderItem:nth-child(4) .slider_bg {
  background-color: yellow;
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}
.sliderItem:nth-child(5) .slider_bg {
  background-color: rebeccapurple;
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}
.sliderItem:nth-child(6) .slider_bg {
  background-color: greenyellow;
  width: 750px;
  height: 750px;
  position: absolute;
  border-radius: 50%;
}

.slider_img {
  z-index: 1;
}

.buy_button {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  border: none;
}

.buy_button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* feature */
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 120px;
}
.feature_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature_icon > img {
  width: 50px;
  height: 50px;
}

.feature_title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

.feature_decs {
  color: gray;
  width: 50%;
  height: 100px;
  text-align: center;
}

/* product */
.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  display: flex;
}

.product_details {
  margin-top: 120px;
}

.product_title {
  font-weight: 700;
  font-size: 60px;
}

.product_price {
  font-weight: 700;
  margin: 20px 0;
}

.product_desc {
  color: gray;
}

.product_colors {
  display: flex;
  margin: 20px 0;
}

.color {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.color:last-child {
  background-color: blue;
}

.product_sizes {
  display: flex;
  margin: 20px 0;
}

.size {
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid black;
  padding: 10px;
}

.product_btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
